<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	<link rel="stylesheet" type="text/css" href="css/index2.css"/>
	</head>
	<script type="text/javascript" src="js/jquery-2.1.0.js" ></script>
	<body>
		<div id="box">
			<div id="head">
				<div class="logo">
					<img src="img/topLogo.png"/>
				</div>
				<div class="head_nav">
					<ul>
						<li>
							<a href="">
								<img src="img/topmune_09.png"/>
								<span>更多模板堂产品</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/topmune_01.png"/>
								<span>开店向导</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/topmune_02.png"/>
								<span>记事本</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/topmune_03.png"/>
								<span>刷新</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/topmune_04.png"/>
								<span>个人设置</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/topmune_05.png"/>
								<span>管理员留言</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/topmune_06.png"/>
								<span>查看网店</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/topmune_007.png"/>
								<span>帮助</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/topmune_07.png"/>
								<span>关于ECSHOP</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/qingchu.png"/>
								<span>清除缓存</span>
							</a>
						</li>
						<li>
							<a href="">
								<img src="img/topmune_08.png"/>
								<span>退出</span>
							</a>
						</li>
					</ul>	
				</div>
				
			</div>
			<div id="nav_min">
				<div id="nav_min">
				<ul>
					<li>
						<a href="#">
							<img src="img/index-11_07.png"/>
							起始页
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/index-11_41.png"/>
							设置导航栏
						</a>
					</li>
					<li>
						
						<a href="#">
							<img src="img/index-11_09.png"/>
							商品管理
							<span></span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/dd.png"/>
							订单管理
							<span></span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/index-11_13.png"/>
							广告管理
							<span></span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/img/index-11_19.png"/>
							用户评论
							<span></span>
						</a>
					</li>
					<li><a href="#">商品列表</a></li>
					<li><a href="#">订单列表</a></li>
					<li><a href="#">用户评论</a></li>
					<li><a href="#">会员列表</a></li>
					<li><a href="#">商店设置</a></li>
					<li><a href="#">移动版</a></li>
					<li><a href="#">服务市场</a></li>
				</ul>
			</div>
		</div>
		<div id="body_box">
			<div id="nav_left">
				<h3>导航菜单</h3>
				<ul class="second_nav">
					<li class="list-1">
						<span>商品管理</span>
						<ul>
							<li><a href="/lb.html" target="content">商品列表</a></li>
							<li><a href="/addgoods.html" target="content">添加新商品</a></li>
							<li><a href="">商品分类</a></li>
							<li><a href="">用户评论</a></li>
							<li><a href="">商品品牌</a></li>
							<li><a href="">商品类型</a></li>
							<li><a href="">商品回收站</a></li>
							<li><a href="">图片批量处理</a></li>
							<li><a href="">商品批量上传</a></li>
							<li><a href="">商品批量导出</a></li>
							<li><a href="">商品批量修改</a></li>
							<li><a href="">生成商品代码</a></li>
							<li><a href="">标签管理</a></li>
							<li><a href="">虚拟商品列表</a></li>
							<li><a href="">添加虚拟商品</a></li>
							<li><a href="">更改加密串</a></li>
							<li><a href="">商品自动下架</a></li>
						</ul>
					</li>
					<li class="list-1">
						<span>促销管理</span>
						<ul>
							<li><a href="">夺宝奇兵</a></li>
							<li><a href="">红包类型</a></li>
							<li><a href="">商品包装</a></li>
							<li><a href="">祝福贺卡</a></li>
							<li><a href="">团购活动</a></li>
							<li><a href="">专题管理</a></li>
							<li><a href="">拍卖活动</a></li>
							<li><a href="">优惠活动</a></li>
							<li><a href="">批发管理</a></li>
							<li><a href="">超值礼包</a></li>
							<li><a href="">积分商城商品</a></li>
						</ul>
					</li>
					<li class="list-1">
						<span>订单管理</span>
						<ul>
							<li><a href="">订单列表</a></li>
							<li><a href="">订单查询</a></li>
							<li><a href="">合并订单</a></li>
							<li><a href="">订单打印</a></li>
							<li><a href="">缺货登记</a></li>
							<li><a href="">添加订单</a></li>
							<li><a href="">发货单列表</a></li>
							<li><a href="">退货单列表</a></li>
						</ul>
					</li>
					<li class="list-1">
						<span>广告管理</span>
						<ul>
							<li><a href="">广告列表</a></li>
							<li><a href="">广告位置</a></li>
						</ul>
					</li>
					<li class="list-1">
						<span>报表统计</span>
						<ul>
							<li><a href="">流量分析</a></li>
							<li><a href="">客户统计</a></li>
							<li><a href="">订单统计</a></li>
							<li><a href="">销售概况</a></li>
							<li><a href="">会员排行</a></li>
							<li><a href="">销售明细</a></li>
							<li><a href="">搜索引擎</a></li>
							<li><a href="">销售排行</a></li>
							<li><a href="">访问购买率</a></li>
							<li><a href="">站外投放JS</a></li>
						</ul>
					</li>
					<li class="list-1">
						<span>文章管理</span>
						<ul>
							<li><a href="">夺宝奇兵</a></li>
							<li><a href="">红包类型</a></li>
							<li><a href="">商品包装</a></li>
							<li><a href="">祝福贺卡</a></li>
							<li><a href="">团购活动</a></li>
							<li><a href="">专题管理</a></li>
							<li><a href="">拍卖活动</a></li>
							<li><a href="">优惠活动</a></li>
							<li><a href="">批发管理</a></li>
							<li><a href="">超值礼包</a></li>
							<li><a href="">积分商城商品</a></li>
						</ul>
					</li>
					<li class="list-1">
						<span>会员管理</span>
						<ul>
							<li><a href="">夺宝奇兵</a></li>
							<li><a href="">红包类型</a></li>
							<li><a href="">商品包装</a></li>
							<li><a href="">祝福贺卡</a></li>
							<li><a href="">团购活动</a></li>
							<li><a href="">专题管理</a></li>
							<li><a href="">拍卖活动</a></li>
							<li><a href="">优惠活动</a></li>
							<li><a href="">批发管理</a></li>
							<li><a href="">超值礼包</a></li>
							<li><a href="">积分商城商品</a></li>
						</ul>
					</li>
					<li class="list-1">
						<span>权限管理</span>
						<ul>
							<li><a href="">夺宝奇兵</a></li>
							<li><a href="">红包类型</a></li>
							<li><a href="">商品包装</a></li>
							<li><a href="">祝福贺卡</a></li>
							<li><a href="">团购活动</a></li>
							<li><a href="">专题管理</a></li>
							<li><a href="">拍卖活动</a></li>
							<li><a href="">优惠活动</a></li>
							<li><a href="">批发管理</a></li>
							<li><a href="">超值礼包</a></li>
							<li><a href="">积分商城商品</a></li>
						</ul>
					</li>
					<li class="list-1">
						<span>系统设置</span>
						<ul>
							<li><a href="">夺宝奇兵</a></li>
							<li><a href="">红包类型</a></li>
							<li><a href="">商品包装</a></li>
							<li><a href="">祝福贺卡</a></li>
							<li><a href="">团购活动</a></li>
							<li><a href="">专题管理</a></li>
							<li><a href="">拍卖活动</a></li>
							<li><a href="">优惠活动</a></li>
							<li><a href="">批发管理</a></li>
							<li><a href="">超值礼包</a></li>
							<li><a href="">积分商城商品</a></li>
						</ul>
					</li>
					<li class="list-1">
						<span>模板管理</span>
						<ul>
							<li><a href="">夺宝奇兵</a></li>
							<li><a href="">红包类型</a></li>
							<li><a href="">商品包装</a></li>
							<li><a href="">祝福贺卡</a></li>
							<li><a href="">团购活动</a></li>
							<li><a href="">专题管理</a></li>
							<li><a href="">拍卖活动</a></li>
							<li><a href="">优惠活动</a></li>
							<li><a href="">批发管理</a></li>
							<li><a href="">超值礼包</a></li>
							<li><a href="">积分商城商品</a></li>
						</ul>
					</li>
					<li class="list-1">
						<span>数据库管理</span>
						<ul>
							<li><a href="">夺宝奇兵</a></li>
							<li><a href="">红包类型</a></li>
							<li><a href="">商品包装</a></li>
							<li><a href="">祝福贺卡</a></li>
							<li><a href="">团购活动</a></li>
							<li><a href="">专题管理</a></li>
							<li><a href="">拍卖活动</a></li>
							<li><a href="">优惠活动</a></li>
							<li><a href="">批发管理</a></li>
							<li><a href="">超值礼包</a></li>
							<li><a href="">积分商城商品</a></li>
						</ul>
					</li>
					<li class="list-1">
						<span>短信管理</span>
						<ul>
							<li><a href="">夺宝奇兵</a></li>
							<li><a href="">红包类型</a></li>
							<li><a href="">商品包装</a></li>
							<li><a href="">祝福贺卡</a></li>
							<li><a href="">团购活动</a></li>
							<li><a href="">专题管理</a></li>
							<li><a href="">拍卖活动</a></li>
							<li><a href="">优惠活动</a></li>
							<li><a href="">批发管理</a></li>
							<li><a href="">超值礼包</a></li>
							<li><a href="">积分商城商品</a></li>
						</ul>
					</li>
					<li class="list-1">
						<span>推荐管理</span>
						<ul>
							<li><a href="">夺宝奇兵</a></li>
							<li><a href="">红包类型</a></li>
							<li><a href="">商品包装</a></li>
							<li><a href="">祝福贺卡</a></li>
							<li><a href="">团购活动</a></li>
							<li><a href="">专题管理</a></li>
							<li><a href="">拍卖活动</a></li>
							<li><a href="">优惠活动</a></li>
							<li><a href="">批发管理</a></li>
							<li><a href="">超值礼包</a></li>
							<li><a href="">积分商城商品</a></li>
						</ul>
					</li>
					<li class="list-1">
						<span>邮件群发管理</span>
						<ul>
							<li><a href="">夺宝奇兵</a></li>
							<li><a href="">红包类型</a></li>
							<li><a href="">商品包装</a></li>
							<li><a href="">祝福贺卡</a></li>
							<li><a href="">团购活动</a></li>
							<li><a href="">专题管理</a></li>
							<li><a href="">拍卖活动</a></li>
							<li><a href="">优惠活动</a></li>
							<li><a href="">批发管理</a></li>
							<li><a href="">超值礼包</a></li>
							<li><a href="">积分商城商品</a></li>
						</ul>
					</li>
					<li class="list-1">
						<span>移动版管理</span>
						<ul>
							<li><a href="">夺宝奇兵</a></li>
							<li><a href="">红包类型</a></li>
							<li><a href="">商品包装</a></li>
							<li><a href="">祝福贺卡</a></li>
							<li><a href="">团购活动</a></li>
							<li><a href="">专题管理</a></li>
							<li><a href="">拍卖活动</a></li>
							<li><a href="">优惠活动</a></li>
							<li><a href="">批发管理</a></li>
							<li><a href="">超值礼包</a></li>
							<li><a href="">积分商城商品</a></li>
						</ul>
					</li>
					<li class="list-1">
						<span>模板堂知识</span>
						<ul>
							<li><a href="">夺宝奇兵</a></li>
							<li><a href="">红包类型</a></li>
							<li><a href="">商品包装</a></li>
							<li><a href="">祝福贺卡</a></li>
							<li><a href="">团购活动</a></li>
							<li><a href="">专题管理</a></li>
							<li><a href="">拍卖活动</a></li>
							<li><a href="">优惠活动</a></li>
							<li><a href="">批发管理</a></li>
							<li><a href="">超值礼包</a></li>
							<li><a href="">积分商城商品</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div id="nav_right">
				<iframe id="content" name="content" src="ECSHOP 管理中心.html" width="100%" height="100%"></iframe>
			</div>
		</div>
	</div>
	</body>
	<script type="text/javascript">	
		var lis = $(".list-1 span");
		for(var i = 0;i<17;i++){
			lis.eq(i).css("background","url(img/menu_"+(i+1)+".png) no-repeat 6px center")
		}
		
		
		var n = 1;
		$(".list-1 span").each(function(index,value){
			
			value.off =1;
			value.num = n;
			n++;
		})
	
		$(".list-1").on("click","span",function(){
			if(this.off == 1){
				$(this).parent().find("ul").css("display","block").siblings();
				$(this).parent().siblings().find("ul").css("display","none");
				$(this).css("background","url(img/menu1_"+this.num+".png) no-repeat 6px center")
				this.off = 0;
			}else if(this.off == 0){
				$(this).parent().find("ul").css("display","none");
				$(this).css("background","url(img/menu_"+this.num+".png) no-repeat 6px center")
				this.off = 1;
			}
		})
		
	</script>
</html>
