@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%; }

li {
  list-style: none; }

a {
  text-decoration: none; }

input {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

strong, b {
  font-weight: 100; }

i, em {
  font-style: none; }

#box #head {
  width: 100%;
  height: 75px;
  background: #333;
  float: left; }
  #box #head .logo {
    margin-left: 30px;
    margin-top: 20px;
    width: 262px;
    height: 45px;
    float: left;
    background: #333; }
  #box #head .head_nav {
    width: 922px;
    height: 75px;
    float: right; }
    #box #head .head_nav li {
      float: left;
      width: 82px;
      height: 75px;
      font-size: 12px;
      text-align: center; }
      #box #head .head_nav li a {
        display: block;
        width: 82px;
        height: 75px;
        color: white; }
        #box #head .head_nav li a img {
          display: inline-block;
          margin-top: 5px; }
        #box #head .head_nav li a span {
          display: block; }
      #box #head .head_nav li a:hover {
        background: #666; }
    #box #head .head_nav li:nth-of-type(1) {
      width: 102px; }
      #box #head .head_nav li:nth-of-type(1) a {
        width: 102px; }
#box #nav_min {
  width: 100%;
  height: 41px;
  background: #575757;
  float: left; }
  #box #nav_min ul {
    margin-left: 40px; }
    #box #nav_min ul li {
      float: left;
      display: block;
      height: 41px;
      line-height: 41px;
      position: relative; }
      #box #nav_min ul li a {
        float: LEFT;
        color: #FFF;
        padding: 0px 12px;
        display: block;
        font-size: 14px;
        line-height: 41px;
        text-decoration: none; }
        #box #nav_min ul li a span {
          display: inline-block;
          width: 32px;
          height: 16px;
          background: red;
          border-radius: 16px; }
      #box #nav_min ul li a:hover {
        background: #666; }
#box #body_box {
  width: 100%;
  height: auto;
  position: absolute;
  top: 118px;
  bottom: 0;
  overflow: auto; }
  #box #body_box #nav_left {
    float: left;
    height: 100%;
    width: 180px;
    overflow: auto; }
    #box #body_box #nav_left h3 {
      padding-left: 10px;
      height: 34px;
      padding-top: 0px;
      background: #303030;
      line-height: 33px;
      font-weight: bold;
      padding: 4px 15px 4px 18px;
      cursor: hand;
      cursor: pointer;
      font-size: 14px;
      font-family: "微软雅黑";
      color: #fff; }
    #box #body_box #nav_left .second_nav {
      padding: 0;
      margin: 0;
      list-style-type: none;
      color: #335B64;
      background: #575757; }
      #box #body_box #nav_left .second_nav .list-1 {
        display: block;
        border-top: #7f7f7f 1px solid;
        width: 180px;
        font-size: 14px;
        color: #FFF;
        line-height: 46px;
        text-align: left; }
        #box #body_box #nav_left .second_nav .list-1 span {
          text-align: center;
          display: block;
          width: 180px;
          height: 100%; }
        #box #body_box #nav_left .second_nav .list-1 ul {
          display: none; }
          #box #body_box #nav_left .second_nav .list-1 ul li {
            text-align: center; }
            #box #body_box #nav_left .second_nav .list-1 ul li a {
              color: #d7d7d7;
              font-size: 12px; }
  #box #body_box #nav_right {
    width: auto;
    height: 100%;
    position: relative;
    right: 0;
    overflow: hidden; }

/*# sourceMappingURL=index2.css.map */
